<div class="row">
    <div class="text-right">
        <button class="button primary-button" onClick={{action "createRule"}}> Add New Rule </button>
    </div>
    <table name="rulesList" class="rules-table">
        <thead>
            <tr>
                <th> Name </th>
                <th> Rules JSON </th>
            </tr>
        </thead>
        <tbody>
            {{#each model as |rule|}}
                <tr>
                    <td>
                        {{rule.name}}
                        <span onClick={{action "goToEdit" rule.id}}>
                            {{inline-svg "/svg/edit.svg" class="edit-icon"}}
                        </span>
                    </td>
                    <td> {{rule.data}} </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="pagination text-right">
        <span onClick={{action 'loadPreviousPage'}} class="{{if isFirstPage "disabled"}}">
            {{inline-svg "/svg/left-arrow.svg" class="small-icon"}}
        </span>
        <span onClick={{action 'loadNextPage'}} class="{{if isLastPage "disabled"}}">
            {{inline-svg "/svg/left-arrow.svg" class="small-icon right-arrow"}}
        </span>
    </div>
    <div class="footer text-center">
        <a href="https://github.com/pragatheeswarans/ruleset-demo" target="_blank">
            {{inline-svg "/svg/github.svg" class="medium-icon"}}
        </a>
    </div>
</div>
